* {
    /* color: blue; */
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;

}

#first {
    color: red;
}

.second {
    color : purple;
}

/* 
Pixels,
Em
rem
vw
*/

h1 {
    /* font-size: 50px; */
    font-size: 1em;
    color: black;
    background-color: brown;
    text-align: right;
    text-decoration: none ;
    line-height: 2;
}